
.chat-containers-me {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #f0f0f0;
    h4 {
        margin-top:0.5max;
        font-family: 'Cursive';
        font-weight: bold;
      }
  }
  
  .chat-box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
        
  }
  
  .chat-containers-me .messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  #natworkModal .modal-content{
   background-color: rgb(250, 248, 248);
  }
  .search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa; /* Light background */
    border: 1px solid lightslategray;
    border-radius: 30px; 
    padding: 0.5rem 1rem; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
  }
  
  .search-form:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
    border: 1px solid #f8f9fa;
  }
  
  .search-form input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1rem;
    color: #495057; 
    height: 1rem; 
    padding: 8px; 
  }
  
  .search-form input::placeholder {
    color: #adb5bd; /* Subtle placeholder color */
    font-size: 1rem;
  }
  
  .search-form .search-icon {
    font-size: 1.5rem; /* Larger icon */
    color: #007bff; /* Primary color for the icon */
  }
.msgtoggle{
  outline: none !important;
}
  
.msgtoggle:hover{
  background-color: #0ebac5;
  color: #fff;
}