/* .banner-home{
    background-color: #0096FF;
    height: 100vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    width:100%;
} */
.banner-home {
    background-image: url('../../assets/AmbiSpine\ logo.png'); /* Replace with the actual path to your image */
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    width: 100%;
    position: relative; /* Ensure the position is set for the pseudo-element to work */
}
.banner-home >h1{
    margin: 5vmax;
    font-size: 600 2.5vmax "Roboto";
    background-color: transparent;
    /* color: #FB9902; */
    /* margin-bottom: 290px; */
}
.banner-home >P{
    font-size: 300 1.4vmax "Lucida Sans";
    /* margin-bottom: 250px; */
}
.banner-home>a>button{
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font:500 1vmax "Roboto";
}
.banner-home::after{
    content: "";
    width: 100%;
    height: 100vmin;
    background-color: white;
    position: absolute;
    top: 0%;
    left: 0;
    clip-path: polygon(100% 78%, 0% 100%, 100% 100%);
    max-width: 100%;
}

.container{
    justify-content: center;
    flex:column;
    width: 80vw;
    flex-wrap: wrap;
    margin: 2vmax auto;
}

@media screen and (max-width:660px){
   
    
}