
 /* .profileContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: white;
}

.profileContainer > div {
  display: flex;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileContainer > div:first-child > h1 {
  color: rgba(0, 0, 0, 0.555);
  font: 500 2.2vmax "Roboto";
  transform: translateX(-5vmax) translateY(-2vmax);
}

.profileContainer > div:first-child > img {
  width: 20vmax;
  border-radius: 100%;
  transition: all 0.5s;
}

.profileContainer > div:first-child > img:hover {
  transform: scale(1.05);
}

.profileContainer > div:first-child > a {
  border: none;
  background-color: tomato;
  font: 400 1vmax "Roboto";
  color: white;
  text-decoration: none;
  width: 30%;
  margin: 4vmax;
  text-align: center;
  transition: all 0.5s;
}

.profileContainer > div:first-child > a:hover {
  background-color: rgb(204, 78, 56);
}

.profileContainer > div:last-child > div > h4 {
  color: black;
  font: 400 1.2vmax "Roboto";
}

.profileContainer > div:last-child > div > p {
  color: rgba(0, 0, 0, 0.418);
  font: 400 1vmax cursive;
  margin: 0.2vmax;
}

.profileContainer > div:last-child > div:last-child {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.profileContainer > div:last-child > div:last-child > a {
  border: none;
  background-color: rgb(68, 68, 68);
  font: 400 1vmax "Roboto";
  color: white;
  text-decoration: none;
  padding: 0.5vmax;
  text-align: center;
  transition: all 0.5s;
  margin: 1vmax 0;
}

.profileContainer > div:last-child > div:last-child > a:hover {
  background-color: #884343;
}

@media screen and (max-width: 600px) {
  .profileContainer {
    flex-direction: column;
  }
  .profileContainer > div:first-child > h1 {
    font: 500 3.2vmax "Roboto";
    transform: translateY(-2vmax);
  }
  .profileContainer > div:first-child > a {
    font: 400 1.7vmax "Roboto";
    padding: 1vmax;
  }
  .profileContainer > div:last-child {
    text-align: center;
    align-items: center;
    transform: translateX(15vmax);
  }
  .profileContainer > div:last-child > div > h4 {
    font: 400 2.5vmax "Roboto";
  }
  .profileContainer > div:last-child > div > p {
    font: 400 2vmax cursive;
    margin: 0.5vmax 0;
  }
  .profileContainer > div:last-child > div:last-child > a {
    font: 400 1.8vmax "Roboto";
    padding: 1vmax;
    margin: 2vmax 0;
  }
}
  */
  .contain {
    width: 60%;
    background-color: whitesmoke;
    margin-left: 130px;
    /* height: 100vh; */
  }
  
  .input {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 90%;
    margin: 110px auto;
  }
  
  .input input,
  .input select,
  .input textarea {
    padding: 5px 0 50px 10px;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
  }
  
  .state,
  .district {
    padding: 5px 0 50px 10px;
    font-size: 1rem;
    font-weight: bold;
    outline: none; 
  }
  
  .input textarea {
    height: 150px;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 10px;
  }
  
  .category {
    display: flex;
    justify-content: space-between;
  }
  
  .category p {
    font-size: 1.3rem;
    font-weight: bold;
    color: grey;
  }
  
  .category button {
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: grey;
    cursor: pointer;
  }
  
  .save_btn button {
    padding: 12px 60px;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(16, 60, 141);
    border-radius: 8px;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: #fff;
    margin: 0 0 0 320px;
  }
  
  .cover-avatar {
    margin-bottom: 20px;
  }
  
  .avatar {
    margin-bottom: 30px;
  }
  
  .category_list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .category_list p {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0;
  }